@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer components {
  .swiper-slide {
    @apply text-center text-lg bg-white flex justify-center items-center;
  }
  .swiper-slide img {
    @apply block w-full h-banner object-cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply mx-4 after:text-red-500 after:text-4xl after:font-bold after:z-10 after:absolute after:top-1/2 after:transform after:-translate-y-1/2 after:px-3 after:py-2 after:bg-black after:bg-opacity-50 after:rounded-full after:transition;
  }

  .mySwiper2-1 {
    @apply h-4/5 w-full;
  }
  .mySwiper-1 {
    @apply h-20 w-3/5 mt-2;
  }

  .mySwiper-1 .swiper-slide-thumb-active {
    @apply border-4 p-1;
  }
  .mySwiper-1 .swiper-slide img {
    @apply w-full h-full object-cover scale-105;
  }

  .show {
    @apply group-hover:inline-block group-hover:absolute group-hover:z-10 group-hover:py-1 group-hover:px-4 group-hover:text-xs group-hover:font-medium group-hover:text-white group-hover:bg-black group-hover:rounded-lg group-hover:shadow-sm group-hover:top-[calc(100%+5px)] group-hover:-left-2 group-hover:animate-fade-up group-hover:before:w-0 group-hover:before:h-0 group-hover:before:border-solid group-hover:before:border-t-transparent group-hover:before:border-r-transparent group-hover:before:border-b-black group-hover:before:border-l-transparent group-hover:before:border-8 group-hover:before:left-1/2 group-hover:before:-translate-x-1/2 group-hover:before:absolute group-hover:before:-top-3 group-hover:before:z-0;
  }
  .picker {
    @apply animate-fade-up before:w-0 before:h-0 before:border-solid before:border-t-transparent before:border-r-transparent before:border-b-[#f5f5f5] before:border-l-transparent before:border-max before:left-1/2 before:-translate-x-1/2 before:absolute before:-top-9 before:z-0;
  }
  .rdrDefinedRangesWrapper {
    @apply hidden;
  }

  .input-text {
    @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600;
  }
  .label-text {
    @apply absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0];
  }
  input:checked + div {
    @apply border-blue-500;
  }
  input:checked + div svg {
    @apply block;
  }
}
